.navbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 10px 0; /* Adjust the padding as needed */
}

.navbar-container {
  width: 80%; /* Adjust the width to control the size of the container */
  max-width: 1200px; /* Ensure it doesn't get too wide on large screens */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#headerSmall {
  background-color: #000000;
  background-image: url(../../assets/notime_logo.png);
  background-repeat: no-repeat;
  height: 36px;
  width: 179px; /* Ensure the width matches the logo size */
  background-size: contain;
}

#header-menu {
  display: flex;
  align-items: center;
}

.header-menu-login .btn-login,
.header-menu-login .btn-signup {
  border-radius: 2px;
  display: inline-block;
  font-family: Avenir, lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 8px;
  min-width: 90px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  border: none !important;
  color: #e0e0e0 !important;
}

.header-menu-login .btn-login {
  background-color: #414141 !important;
}

.header-menu-login .btn-signup {
  background-color: #4065ba !important;
}
