.home {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: center;
  width: 100%;

  padding: 10px 0px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 1px solid #000;
  margin-top: 20px; /* Optional: Add margin-top for additional spacing */
}

.home-inner {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border: 1px solid #000;
}

.x-large {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.lead {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.buttons .btn-login,
.buttons .btn-signup {
  margin: 0 10px;
}
