/* Background styling for authentication section */
.auth-background {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  min-height: 100vh;
}

/* Wrapper for the form */
.form-wrapper {
  background-color: #222;
  border: 10px solid #353535;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  margin-top: 40px; /* Add margin-top to push the form down */
}

/* Form title styling */
.form-title {
  color: #e0e0e0;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px; /* Increase margin-bottom for space */
}

/* Wrapper for form controls */
.form-control {
  margin-bottom: 30px; /* Increase margin-bottom for space between controls */
  position: relative;
}

/* Input field styling */
.form-control input {
  width: calc(100% - 22px); /* Adjust width to fit inside the container */
  padding: 10px;
  border: 1px solid #353535;
  background-color: #333;
  color: #e0e0e0;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 10px; /* Align input within the form control */
}

/* Label styling */
.form-control label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 14px;
  color: #abc4ed;
}

/* Button styling */
.button {
  background-color: #4065ba;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  display: block;
  width: 100%; /* Align button with input width */
  margin-left: 10px; /* Align button within the form control */
}

/* Footer of the form */
.form-footer {
  margin-top: 20px;
  text-align: center;
  color: #e0e0e0;
}

/* Links in the form footer */
.form-footer a {
  color: #1c439b;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
