/* src/components/LoadingSpinner/LoadingSpinner.css */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.spinner {
  border: 8px solid rgba(197, 40, 40, 0.1);
  border-left-color: #22b377;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
